.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
CLAUDE.md
^update_process\.R$
in_development
in_development/
sticker.pptx

inst/doc
.Rproj.user
/doc/
/Meta/
^update_process\.R$

.RData
.RDataTmp
.Rhistory
